@using ESDM.Models;
@model Site
@{
    ViewData["Title"] = "EditPopup";
}

<h2>EditPopup</h2>
<h4>Site</h4>
<hr />

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">My Popup</h2>
        </div>
        <div class="modal-body">
            <div id="gridcontainer">


                <form role="form" method="get" class="form-inline" asp-controller="Sites" asp-action="EditPopupSave" asp-antiforgery="false"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#gridcontainer">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SiteCode" />
                        <div class="form-group">
                            <label asp-for="SiteName" class="control-label"></label>
                            <input asp-for="SiteName" class="form-control" />
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SiteType" class="control-label"></label>
                            <input asp-for="SiteType" class="form-control" />
                            <span asp-validation-for="SiteType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default"  />
                        </div>
                    </form>

</div>
        </div>
        <div class="modal-footer">
            <input id="selectedcsv" type="hidden" value="" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

