@addTagHelper "*, cloudscribe.Web.Common"
@{
    ViewData["Title"] = "Index";
}

<h2>Test</h2>

<a class="btn btn-xs btn-default"
   asp-action="TestPopup"
   asp-controller="TestPopup"
   bs-modal-link="true">Open Popup</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/cr/js/cloudscribe-modaldialog-bootstrap.min.js"></script>
}